

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body{
  margin: 0;
  padding: 0;
}


a{
  text-decoration: none;
}

nav{
  display: flex;
}
nav img{
  width: 130px;
  text-align: left;
  margin: 28px auto auto 20px;
}

nav button{
  margin: 24px 15px auto auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 14px;
}

h1{
  width: 335px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 132.02%;
  display: flex;
  align-items: center;
  color: #2A4900;
  margin: 35px auto auto 25px;
}

p{
  width: 335px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #5B5B5B;
  margin: 15px auto auto 25px;
}


section img{
  display: block;
  width: 375px;
  mix-blend-mode: luminosity;
  border-radius: 15px 15px 0px 0px;
  margin: 20px auto;
}
section button{
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  width: 335px;
  height: 52px;
  display: flex;
  background: #000000;
  border-radius: 8px;
  padding: 14px 32px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  color: white;
}

svg{
  display: none;
}

.fa-brands{
  cursor: pointer;
  border-radius: 3px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 20px;
  background-color: #000000;
  color: white;
  scale: 1.5;
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 5px;
}
#icns{
  display: flex;
  margin: 50px auto auto 50px;
  position: absolute;
  top: 970px;
  justify-content: center; 
  
}
#blur-lay1{
  position: absolute;
  width: 175px;
  height: 306px;
  left: 200px;
  top: 310px;
  
  background: #8CC63F;
  filter: blur(187.5px);

  
}
#blur-lay2{
  position: absolute;
  position: absolute;
  width: 188px;
  height: 227px;
  left: 0px;
  top: 650px;
  
  background: #AD1F24;
  filter: blur(139.093px);
}






@media screen and (min-width: 768px) {
  a{
      text-decoration: none;
  }
  
  /* Vector 4 */
  html body{
      max-height: 500px;
  }
  #icns{
      margin: 50px auto auto 80px;
      
      
  }

  .fa-brands{
      cursor: pointer;
      border-radius: 3px;
      flex: none;
      order: 0;
      flex-grow: 0;
      margin: 20px;
      background-color: #000000;
      color: white;
      scale: 1.5;
      width: 20px;
      height: 20px;
      text-align: center;
      padding: 5px 3px 0px 3px;
  }
  section svg{
      position: absolute;
      left: 175px;
      top: 22rem;
      flex: none;
      order: 0;
      flex-grow: 0;
      z-index: -1;
      scale: 0.8;
  }


  html, body{
      max-height: 50rem;
  }
  nav {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
      z-index: 9999;
    }
    
    nav img {
      margin-left: 4.5rem;
      height: 4rem;
      width: 18rem;
      box-sizing: border-box;
    }
    #blur-lay1{
      position: absolute;
      width: 550px;
      height: 551px;
      left: 846px;
      top: 74px;

      background: #8CC63F;
      filter: blur(400px);

      
    }
    #blur-lay2{
      position: absolute;
      width: 606px;
      height: 606px;
      left: 385px;
      top: 625px;

      background: #AD1F24;
      filter: blur(371.324px);
    }
    
    nav button {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px 20px;
      width: 8rem;
      height: 3rem;
      margin: 0rem 2rem auto auto;
      border: 1px solid #000000;
      border-radius: 8px;
    }
    
    section {
      display: flex;
      flex-direction: row;
    }
    
    section > div:first-child {
      flex: 1;
    }
    
    section h1 {
      width: 32rem;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 3.2rem;
      line-height: 1.32;
      color: #961F23;
      margin-top: 5rem;
      margin-left: 5rem;
    }
    
    section p {
      margin-left: 5rem;
      width: 35rem;
      height: 7.5rem;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 1.125rem;
      line-height: 1.5;
      color: #5B5B5B;
    }
    
    section button {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 16px 32px;
      gap: 4px;
      width: 304px;
      height: 64px;
      background: #000000;
      border-radius: 8px;
      color: white;
      margin-top: 5rem;
      margin-left: 5rem;
    }
    
    section img {
      margin-top: 3rem;
      width: 100%;
      height: auto;
      border-top-left-radius: 2rem;
    }
  
  
}