html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body{
    margin: 0;
    padding: 0;    
  }
  form{
    margin-left: 20px; 
    justify-content: center;
  }
  
  h2{
    font-family: 'Inter';
    font-style: normal;
    font-size: 25px;
    display: flex;
    align-items: center;
    color: #AD1F24;
    margin-left: 20px; 
  }
  p{
    margin-top: 0;
    margin-left: 20px;
    width: 150px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: .75rem;
    color: #5B5B5B
  }
  .lbls{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: .75rem;
    color: #1d1d1d
  }

  #fname, #lname, #text, #mail{
    margin: 5px 0 10px 0;
    border: .25px #5b5b5b98 solid;
    border-radius: 2.5px;
    height: 25px;
    width:170px;
  }
  #platform{
    margin: 5px 0 10px 0;
    height: 25px;
    width: 170px ;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: .75rem;
    border-radius: 2.5px;
  }

  input[type=submit]{
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 335px;
    height: 52px;
    display: flex;
    background: #AD1F24;
    border-radius: 8px;
    padding: 14px 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    color: white;
  }
  @media screen and (min-width= 768px) {
    .board{
        display: flex;
        flex-direction: column;
        background-color: #5B5B5B;
    }
    
  }