/* For screens smaller than 768px (mobile devices) */
@media screen and (max-width: 768px) {
    a{
        text-decoration: none;
    }
    #icns{
        margin: 50px auto auto 80px;
        position: absolute;
        top: 970px;
        justify-content: center;
        
    }
    body h2{
      font-family: 'Inter';
    }
  
    .fa-brands{
       
        border-radius: 3px;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin-left: 20px;
        background-color: #000000;
        color: white;
        scale: 1.5;
        width: 20px;
        height: 20px;
        text-align: center;
        padding: 5px 3px 0px 3px;
    }
    body nav img{
        position: absolute;
        height: 2.5rem;
        width: 12rem;
        left: 2rem;
        top: 2.4rem;
        box-sizing: border-box;
    }
    section svg{
        display: none;
    }
    
    nav button{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px 16px;
        width: 6rem;
        height: 2.5rem;
        margin: 2rem 1rem auto auto;
        border: 1px solid #000000;
        border-radius: 8px;
    }
    
    section h1{
        width:19rem;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 2.2rem;
        line-height: 1.32;
        color: #961F23;
        margin: 2rem ;
    }
    
    section{
        display: flex;
        flex-direction: column;
    }
    
    section p{
        margin: 1.5rem auto;
        width: 85%;
        font-size: 1rem;
        font-family: "inter";
        line-height: 1.5rem;
        text-align: justify;
    }
    
    section button{
        display: flex;
        padding: 8px 16px;
        width: 70%;
        height: 2.5rem;
        margin: 1.5rem auto;
        font-size: 1rem;
        background: #000000;
        border-radius: 8px;
        color: white;
        gap: 1.5px;
        justify-content: center;
    }
    
    body section img{
        margin-top: 2rem;
        width: 100%;
        height: auto;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
    }
    #blur-lay1{
        position: absolute;
        width: 306px;
        height: 306px;
        left: 200px;
        top: 310px;

        background: #8CC63F;
        filter: blur(220px);

        
      }
      #blur-lay2{
        position: absolute;
        width: 227px;
        height: 227px;
        left: -39px;
        top: 650px;
        
        background: #AD1F24;
        filter: blur(139.093px);
      }
}

/* For screens larger than 768px (desktop devices) */

