html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body{
    margin: 0;
    padding: 0;
  }
  form{
    margin-left: 20px; 
  }
  
  h2{
    font-family: 'Inter';
    font-style: normal;
    font-size: 25px;
    display: flex;
    align-items: center;
    color: #AD1F24;
    margin-left: 20px; 
  }
  p{
    margin-top: 0;
    margin-left: 20px;
    width: 150px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: .75rem;
    color: #5B5B5B
  }
  .lbls{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: .75rem;
    color: #1d1d1d
  }
  input{
    margin: 5px 0 10px 0;
    border: 1px #AD1F24 solid;
    border-radius: 2.5px;
  }